/*------------ ONLY MEANT FOR DEMO PURPOSE!!!! Please dont use this as a theme--------------------------*/

/* you can work on your css here */

.one {
	background: #e94836;
	font-size:2em;
}

.two {
	background: #2ed436;
	font-size:2em;
}

.three {
	background: #3870eb;
	font-size:2em;
}

.four{
background: maroon;
font-size:2em;
}

.five{
background: rgb(255, 59, 91);
font-size:2em;
}

